<article class="landing-page-container">
    <section class="search-container">
        <input type="text" name="searchQuery" placeholder="Search for a city" [value]="searchQuery" (input)="searchQuery = $event.target.value">
        <button (click)="searchCountry()">
            <i class="fas fa-search"></i>
            <span>Search</span>
        </button>
    </section>
    <section *ngIf="!hasError" class="weather-cards-container">
        <div class="weather-card" *ngFor="let weather of weatherDetailsArray">
            <div class="card-front">
                <header class="card-head">
                    <h3 class="temperature-text">{{weather.current_condition.FeelsLikeC}}&#176;</h3>
                    <section>
                        <figure class="header-logo">
                            <img [src]="weather.current_condition.weatherIconUrl" alt="weather condition icon">
                            <figcaption>{{weather.current_condition.weatherDesc}}</figcaption>
                        </figure>
                        <h5 class="country-text">{{weather.country}}, {{weather.areaName}}</h5>
                    </section>
                </header>
                <article class="otherdetails-container">
                    <dl class="row">
                        <dt class="col-sm-6">
                            <i class="fas fa-wind"></i>
                            Wind speed
                        </dt>
                        <dd class="col-sm-6">
                            {{weather.current_condition.windspeedKmph}}
                        </dd>

                        <dt class="col-sm-6">
                            <i class="fas fa-arrow-right"></i>
                            Wind direction
                        </dt>
                        <dd class="col-sm-6">
                            {{weather.current_condition.winddir16Point}}
                        </dd>

                        <dt class="col-sm-6">
                            <i class="fas fa-tint"></i>
                            Humidity
                        </dt>
                        <dd class="col-sm-6">
                            {{weather.current_condition.humidity}}
                        </dd>

                        <dt class="col-sm-6 text-truncate">
                            <i class="fas fa-eye"></i>
                            Visibility
                        </dt>
                        <dd class="col-sm-6">
                            {{weather.current_condition.visibility}}
                        </dd>

                        <dt class="col-sm-6 text-truncate">
                            <i class="fas fa-hammer"></i>
                            Pressure
                        </dt>
                        <dd class="col-sm-6">
                            {{weather.current_condition.pressure}}
                        </dd>

                        <dt class="col-sm-6 text-truncate">
                            <i class="fas fa-cloud"></i>
                            Cloud cover
                        </dt>
                        <dd class="col-sm-6">
                            {{weather.current_condition.cloudcover}}
                        </dd>
                    </dl>
                </article>
            </div>
            <aside class="card-hover-template">
                <a routerLink='/details/{{weather.country}}' class="card-hover-template-navlink">View Details</a>
            </aside>
        </div>
    </section>
    <section class="error-message-container" *ngIf="hasError">
        <h1>{{errorMessage}}</h1>
    </section>
</article>
