.details-container {
    margin-top: 15px;
}

.details-container section h2 {
    padding-left: 15px;
    box-shadow: 1px 1px 10px 0px #ced4da;
    height: 86px;
    background-color: white;
    margin-bottom: 0;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.details-container section article {
    padding: 15px;
    box-shadow: 1px 3px 10px 0px #ced4da;
    background-color: #fbfaff;
}

.weather-calendar-items-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 !important;
}

.weather-calendar-item {
    width: 20%;
    box-shadow: 1px 1px 10px 0px #ced4da;
    padding: 15px;
}

.line-chart-container {
    margin: 10px 0;
}

.barchart-container {
    margin: 10px 0;
}

.loading-placeholer {
    height: 500px;
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .weather-calendar-item {
        width: 50%;
    }
}

@media only screen and (max-width: 568px) {
    .weather-calendar-item {
        width: 100%;
    }
}
